#newList.modal.hide.fade
  .modal-header
    %button{ :type => "button", :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true" }
      &times;
    %h3 Modal Header
  .modal-body
    %h1 New List
    - @list = @newList
    = render 'form'
    %p
      = link_to 'Back', lists_path
  .modal-footer
    %a{ :href => "#", :class => "btn" } Close
    %a{ :href => "#", :class => "btn btn-primary" } Save Changes
