%h1 
  Lists
  %a.btn.btn-primary{ :title => 'New List', :href => "#newList", :role => "button", "data-toggle" => "modal" }
    %i.icon-plus-sign.icon-white
%table.table.table-striped.table-hover
  %thead
    %tr
      %th
      %th
      %th
  %tbody
  - @lists.each do |list|
    %tr
      %td= link_to list.name, list
      %td
        %a.btn.btn-primary{ :title => 'Edit '+list.name, :href => "#edit_"+dom_id(list), :role => "button", "data-toggel" => "modal" }
          %i.icon-edit.icon-white
      %td= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' }
= render "new"

