%h1
  = @list.name
  %a.btn.btn-primary{ :title => "Edit List", :href => "#editList", :role => "button", "data-toggle" => "modal" }
    %i.icon-edit.icon-white
  %a.btn.btn-primary{ :title => "List Contents", :href => list_items_path(@list), :role => "button" }
    %i.icon-list-alt.icon-white
= render 'edit'
