%h1
  = @list.name
  %a.btn.btn-primary{ :title => "Edit List", :href => "#editList", :role => "button", "data-toggle" => "modal" }
    %i.icon-edit.icon-white
  %a.btn.btn-primary{ :title => 'Add New Item', :href => "#newItem", :role => "button", "data-toggle" => "modal" }
    %i.icon-plus-sign.icon-white
= render "items/index"
= render 'edit'
