%table.table.table-striped.table-hover
  %thead
    %tr
      %th
      %th
      %th
      %th
  %tbody
  - @items.each do |item|
    %tr
      %td= link_to item.name, item
      %td 
        %a.btn.btn-primary.pull-right{ :title => 'Edit '+item.name, :href => "#edit_"+dom_id(item), :role => "button", "data-toggle" => "modal" }
          %i.icon-edit.icon-white
      %td      
        = link_to item, method: :delete, :class => "btn btn-danger pull-right", data: { confirm: 'Are you sure?' } do 
          %i.icon-remove.icon-white
      %td= render :partial => "items/edit", :locals => { :item => item }
= render 'items/new'
