#newItem.modal.hide.fade{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "newItemLabel", "aria-hidden" => "true" }
  .modal-header
    %button{ :type => "button", :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true" }
      &times;
    %h3.newItemLabel New Item
  - @item = @newItem
  = render 'items/form'
